@model IEnumerable<Tennis>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Book your next Tennis session</h1></br>

@foreach (var item in Model)
{
    <div class="row mb-3 text-center">
        <div class="col-2">@item.Day</div>
        @if (@item.NineToElevenId != null)
        {
            <div class="col-2"><a asp-controller="Tennis" asp-action="Index" class="btn btn-secondary my-2">09:00 - 11:00</a></div>
        }
        else
        {
            <div class="col-2"><a asp-controller="Tennis" asp-action="MakeBooking9To11" asp-route-id="@item.Id" class="btn btn-primary my-2">09:00 - 11:00</a></div>
        }

        @if (@item.ElevenToThirteenId != null)
        {
            <div class="col-2"><a asp-controller="Tennis" asp-action="Index" class="btn btn-secondary my-2">11:00 - 13:00</a></div>
        }
        else
        {
            <div class="col-2"><a asp-controller="Tennis" asp-action="MakeBooking11To13" asp-route-id="@item.Id" class="btn btn-primary my-2">11:00 - 13:00</a></div>
        }

        @if (@item.ThirteenToFifteenId != null)
        {
            <div class="col-2"><a asp-controller="Tennis" asp-action="Index" class="btn btn-secondary my-2">13:00 - 15:00</a></div>
        }
        else
        {
            <div class="col-2"><a asp-controller="Tennis" asp-action="MakeBooking13To15" asp-route-id="@item.Id" class="btn btn-primary my-2">13:00 - 15:00</a></div>
        }

        @if (@item.FifteenToSeventeenId != null)
        {
            <div class="col-2"><a asp-controller="Tennis" asp-action="Index" class="btn btn-secondary my-2">15:00 - 17:00</a></div>
        }
        else
        {
            <div class="col-2"><a asp-controller="Tennis" asp-action="MakeBooking15To17" asp-route-id="@item.Id" class="btn btn-primary my-2">15:00 - 17:00</a></div>
        }

        @if (@item.SeventeenToNineteenId != null)
        {
            <div class="col-2"><a asp-controller="Tennis" asp-action="Index" class="btn btn-secondary my-2">17:00 - 19:00</a></div>
        }
        else
        {
            <div class="col-2"><a asp-controller="Tennis" asp-action="MakeBooking17To19" asp-route-id="@item.Id" class="btn btn-primary my-2">17:00 - 19:00</a></div>
        }
        @*
    <div class="col-2"><a class="btn btn-secondary my-2">@item.ElevenToThirteenId</a></div>
    <div class="col-2"><a class="btn btn-secondary my-2">13:00 - 15:00</a></div>
    <div class="col-2"><a class="btn btn-secondary my-2">15:00 - 17:00</a></div>
    <div class="col-2"><a class="btn btn-secondary my-2">17:00 - 19:00</a></div> *@
    </div>
}
